.notFount-cont {
  background-image: url('https://res.cloudinary.com/sahith/image/upload/v1628963499/snow-removal-machine-working-high-ski-slope-snowstorm_454047-2149_1_tr1le6.png');
  background-size: 'cover';
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
